@include media-breakpoint-down(xs) {
  .hidden-xs-down {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .hidden-sm-up {
    display: none;
  }
}

.ReactTable .rt-td.horizontal-scroll {
  overflow: auto;
  text-overflow: clip;
}