// Variable overrides
$navbar-bg: #3c8dbc;
$navbar-brand-bg: #367fa9;
$navbar-brand-width: 200px;
$navbar-color: rgba(0, 0, 0, .3);
$navbar-hover-color: rgba(0, 0, 0, .6);
$navbar-active-color: rgba(0, 0, 0, .8);
$navbar-disabled-color: rgba(0, 0, 0, .15);
$sidebar-bg: #263238;
$sidebar-nav-link-icon-color: #b0bec5;
